@page
@model PlatformDemo.Web.Pages.Orders.IndexModel
@{
	ViewData["Title"] = "Orders";
}

<div class="container p-3">
	@if (Model.Orders.Any())
	{
		<div class="row pt-4">
			<div class="col-6">
				<h2 class="text-primary">@Model.Orders.First().Customer?.Name</h2>
			</div>
		</div>
		<br />
		<br />

		<table class="table table-bordered table-striped" style="width:100%">
			<thead>
				<tr>
					<th>Order Id</th>
					<th>
						Order Number
					</th>
					<th>
						Amount
					</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var obj in Model.Orders)
				{
					<tr>
						<td width="25%">@obj.Id</td>
						<td width="25%">@obj.OrderNumber</td>
						<td width="25%">@obj.Amount.ToString("C")</td>
					</tr>
				}
			</tbody>
		</table>
	}
	else
	{
		<h1>No Orders Available.</h1>
	}

</div>
